<!DOCTYPE html>
<html ng-app="brainstormingApp">

<head>
  <title>MAIA Project IOC</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/stylesheets/commonStyle.css">
  <link rel="stylesheet" href="/stylesheets/mainPageStyle.css">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="viewport" content="with=device-widht, initial-scale="1.0"" />
</head>
	
	<body>
    <ng-view></ng-view>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>

		<div id="container" class="container_div">

			<div id="header" class="header_div">
        <img src="/img/logo.png" class="logo">
        <button class="logout_button" id="Logout" href="#">Logout</button>
      </div>

			<div id="sidebarLeft" class="sidebarLeft_div">
        
        <a id="addCloud" class="addCloud_button" href="/new_cloud">
          <span>+ New Cloud</span>
        </a>
        
        <div id="yourClouds" class="yourClouds_div"><span>Your Clouds</span></div>
      </div>
			
      <div id="content" class="content_div">

        <% sessions.forEach(function(session){ %>
        <div id="preview" class="preview_div">
          
          <div id="title" class="title_div"><%= session.title %></div>
          <div id="deadline" class="deadline_div"><%= session.deadline %></div>
          <div id="tags" class="tags_div"><%= session.tags %></div>
        
        </div>
        <% }) %>
      
      </div>
    
    </div>
    
	</body>	
</html>